discord-bot-n8n.json
{
  "name": "Discord bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-receipt",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        8640,
        6496
      ],
      "id": "2ec5ea82-1725-4667-8f7f-d13c2b880c0c",
      "name": "Webhook get receipt image",
      "webhookId": "dda71a60-b186-4f74-aa60-70c8523b8fec",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JdhP0Ol8NZHq65Tj",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst command = body.command ?? null;\n\nif (command === 'receipt') {\n  const imageUrl = body.receipt?.url;\n  const contentType = body.receipt?.contentType ?? '';\n\n  if (!imageUrl) {\n    return [{ json: { route: 'invalid', error_code: 'MISSING_RECEIPT_URL', message: 'receipt.url is required for the receipt workflow.' } }];\n  }\n\n  if (contentType && !contentType.startsWith('image/')) {\n    return [{ json: { route: 'invalid', error_code: 'INVALID_RECEIPT_CONTENT_TYPE', message: 'receipt.contentType must be an image/* mime type.' } }];\n  }\n\n  return [{ json: { ...$json, route: 'receipt' } }];\n}\n\nif (command === 'out') {\n  return [{ json: { ...$json, route: 'outcome' } }];\n}\n\nreturn [{ json: { route: 'invalid', error_code: 'UNSUPPORTED_COMMAND', message: 'Only the receipt and out commands are supported by this webhook path.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        6480
      ],
      "id": "fda83994-300d-4473-b45e-56137a7aa82f",
      "name": "Validate webhook payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16e2d0e1-6f96-4d38-9512-7c478f87360b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "receipt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "81c27ccb-c781-4e4d-8136-59e441f90afe",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "outcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcome"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "706955a9-c8f0-4684-b9c9-f4042641ce38",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        9088,
        6464
      ],
      "id": "89696bef-2e2d-43d1-8190-3888a4746c78",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\n\nconst pad = (value) => String(value).padStart(2, '0');\nconst formatDateTime = (value) => {\n  const raw = String(value ?? '').trim();\n\n  if (!raw) {\n    const now = new Date();\n    return `${pad(now.getDate())}/${pad(now.getMonth() + 1)}/${now.getFullYear()} ${pad(now.getHours())}:${pad(now.getMinutes())}`;\n  }\n\n  const alreadyFormatted = raw.match(/^(\\d{2})\/(\\d{2})\/(\\d{4}) (\\d{2}):(\\d{2})$/);\n  if (alreadyFormatted) {\n    return raw;\n  }\n\n  const isoDate = new Date(raw);\n  if (!Number.isNaN(isoDate.getTime())) {\n    const formatted = new Intl.DateTimeFormat('en-GB', {\n      timeZone: 'Asia/Saigon',\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    }).formatToParts(isoDate).reduce((acc, part) => {\n      if (part.type !== 'literal') acc[part.type] = part.value;\n      return acc;\n    }, {});\n\n    return `${formatted.day}/${formatted.month}/${formatted.year} ${formatted.hour}:${formatted.minute}`;\n  }\n\n  const slashDate = raw.match(/^(\\d{1,2})\/(\\d{1,2})\/(\\d{4})(?:[ T](\\d{1,2}):(\\d{2}))?$/);\n  if (slashDate) {\n    const [, day, month, year, hour = '00', minute = '00'] = slashDate;\n    return `${pad(day)}/${pad(month)}/${year} ${pad(hour)}:${minute}`;\n  }\n\n  return raw;\n};\n\nconst submittedAt = formatDateTime(body.submittedAt ?? new Date().toISOString());\n\nif ((body.command ?? null) !== 'out') {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Unsupported outcome request.' } }];\n}\n\nif (body.mode === 'finalize') {\n  const draft = body.outcome?.draft ?? null;\n  const accountId = body.outcome?.account_id ?? null;\n\n  if (!draft || !accountId) {\n    return [{ json: { route: 'respond', status: 'invalid', message: 'Missing pending outcome draft or account selection.' } }];\n  }\n\n  return [{ json: { route: 'finalize', submittedAt, draft, account_id: accountId } }];\n}\n\nconst originalMessage = String(body.outcome?.originalMessage ?? '').trim();\n\nif (!originalMessage) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Outcome originalMessage is required.' } }];\n}\n\nreturn [{\n  json: {\n    route: 'extract',\n    submittedAt,\n    originalMessage,\n    discordContext: body.discordContext ?? {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9424,
        6704
      ],
      "id": "ad248c92-1b9f-4f47-8f80-1fc7c280c63b",
      "name": "Prepare outcome mode"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "extract",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fd1b6c46-2c1f-4b6a-b0f2-30ae5c218cc1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extract"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "finalize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b4ea4907-b93a-42a2-b0ae-e3e0ba8f1f14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalize"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "respond",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2b7fd841-3c71-4d30-b54b-8d2ec99cef39"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respond"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        9664,
        6688
      ],
      "id": "c534cd52-d4da-4142-9fb5-5d3145e77059",
      "name": "Outcome mode switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "accounts"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9920,
        6288
      ],
      "id": "d055fecc-3332-4542-8c86-b003b25adabf",
      "name": "Read accounts for outcome extract",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        10112,
        6400
      ],
      "id": "d8098842-033a-48b4-bd3b-65ce3c4eda48",
      "name": "Merge outcome catalogs"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare outcome mode').first().json;\nconst rows = $input.all().map((item) => item.json);\nconst accountRows = rows.filter((row) => row.account_id && row.account_name);\nconst categoryRows = rows.filter((row) => row.category_name);\n\nconst accountOptions = accountRows.map((row) => ({\n  value: String(row.account_id).trim(),\n  label: String(row.account_name).trim(),\n  description: row.provider ? String(row.provider).trim().slice(0, 100) : undefined\n}));\n\nconst categoryOptions = categoryRows\n  .filter((row) => String(row.active ?? 'TRUE').toLowerCase() !== 'false')\n  .map((row) => ({\n    value: String(row.category_name).trim(),\n    label: String(row.category_name).trim(),\n    description: row.parent_category ? `Parent: ${String(row.parent_category).trim()}`.slice(0, 100) : undefined\n  }));\n\nreturn [{\n  json: {\n    ...base,\n    account_options: accountOptions,\n    category_options: categoryOptions,\n    account_catalog_text: accountOptions.length > 0 ? accountOptions.map((option) => `${option.value}: ${option.label}${option.description ? ` (${option.description})` : ''}`).join('; ') : 'No accounts available',\n    category_catalog_text: categoryOptions.length > 0 ? categoryOptions.map((option) => `${option.value}${option.description ? ` (${option.description})` : ''}`).join('; ') : 'No categories available'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        6400
      ],
      "id": "f7ee1214-3b94-437a-9ce5-b468a2d885d8",
      "name": "Build outcome catalogs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aiproxy.moreshared.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-6nsFYn2tmcijnY6Wx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5.4\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Extract a single expense transaction from the user's free-form message. This command always represents an expense. Return amount as an integer VND value. Return note as a short purchase description. Choose account_id only from the live account catalog when the message clearly matches one of those account ids or labels; otherwise return null. Choose category only from the live category catalog when the note strongly matches one of them; otherwise return null. Live account catalog: {{$json.account_catalog_text}}. Live category catalog: {{$json.category_catalog_text}}. User message: {{$json.originalMessage}}\"\n        }\n      ]\n    }\n  ],\n  \"text\": {\n    \"format\": {\n      \"type\": \"json_schema\",\n      \"name\": \"outcome_transaction\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"amount\": { \"type\": [\"number\", \"null\"] },\n          \"note\": { \"type\": [\"string\", \"null\"] },\n          \"account_id\": { \"type\": [\"string\", \"null\"] },\n          \"category\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"amount\", \"note\", \"account_id\", \"category\"]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10528,
        6400
      ],
      "id": "0def88dc-5e2b-464a-936f-5b1c25744ad3",
      "name": "Extract outcome with AI"
    },
    {
      "parameters": {
        "jsCode": "const responseText = $input.first().json.output?.[0]?.content?.[0]?.text;\nconst base = $('Build outcome catalogs').first().json;\n\nif (!responseText) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Outcome extraction returned no structured response.' } }];\n}\n\nconst extracted = JSON.parse(responseText);\nconst amount = Number(extracted.amount);\nconst note = String(extracted.note ?? '').trim();\nconst allowedAccounts = new Set((base.account_options ?? []).map((option) => option.value));\nconst allowedCategories = new Set((base.category_options ?? []).map((option) => option.value));\nconst extractedAccountId = extracted.account_id ? String(extracted.account_id).trim() : null;\nconst extractedCategory = extracted.category ? String(extracted.category).trim() : null;\n\nif (!Number.isFinite(amount) || amount <= 0) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Could not determine a valid amount from the outcome message.' } }];\n}\n\nif (!note) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Could not determine a description for the outcome message.' } }];\n}\n\nconst normalizedAccountId = extractedAccountId && allowedAccounts.has(extractedAccountId) ? extractedAccountId : null;\nconst normalizedCategory = extractedCategory && allowedCategories.has(extractedCategory) ? extractedCategory : '';\n\nconst baseTransaction = {\n  transaction_id: `txn_${Date.now()}`,\n  date_time: base.submittedAt,\n  account_id: null,\n  amount,\n  category: normalizedCategory,\n  type: 'expense',\n  provider_reference: base.originalMessage,\n  receipt_id: '',\n  note\n};\n\nif (!normalizedAccountId) {\n  return [{\n    json: {\n      route: 'respond',\n      status: 'needs_account',\n      pending_id: baseTransaction.transaction_id,\n      prompt: 'Which account was used for this transaction?',\n      draft: baseTransaction,\n      account_options: base.account_options,\n      warning: normalizedCategory ? '' : 'Category was not confidently matched and was left blank.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    route: 'write',\n    transaction: {\n      ...baseTransaction,\n      account_id: normalizedAccountId\n    },\n    warning: normalizedCategory ? '' : 'Category was not confidently matched and was left blank.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10736,
        6400
      ],
      "id": "bfc1c549-2b6f-41fd-bc90-f28a903ab755",
      "name": "Prepare extracted outcome"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8540e24c-6550-40ae-9e59-ad26737e5257"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "respond",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "10201b65-fa0c-4db1-ae46-93a9d89f1235"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respond"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        10992,
        6400
      ],
      "id": "3b4b8f15-193f-40b1-928d-8fc7158c6eda",
      "name": "Outcome result switch"
    },
    {
      "parameters": {
        "jsCode": "const allowedAccounts = new Set(($json.account_options ?? []).map((option) => option.value));\nconst draft = $json.draft ?? null;\nconst accountId = String($json.account_id ?? '').trim();\n\nif (!draft || !accountId) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Missing draft outcome or account selection.' } }];\n}\n\nif (allowedAccounts.size > 0 && !allowedAccounts.has(accountId)) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Selected account is not supported.' } }];\n}\n\nreturn [{\n  json: {\n    route: 'write',\n    transaction: {\n      ...draft,\n      account_id: accountId\n    },\n    warning: draft.category ? '' : 'Category was not confidently matched and was left blank.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10368,
        6976
      ],
      "id": "d51faf75-8110-4723-aa4d-d9c5c1e7a398",
      "name": "Finalize pending outcome"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b81e6e58-5f64-48e2-96de-8e7b626ec0fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "respond",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b7409f2-1a87-4427-b0b1-ffbff7af7d55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respond"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        10608,
        6976
      ],
      "id": "dc819f9a-f1f8-410a-bcef-c96c6b686a7e",
      "name": "Finalize outcome switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "accounts"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9904,
        6976
      ],
      "id": "282b6a34-f33a-4f36-b291-a74d8bedba19",
      "name": "Read accounts for outcome finalize",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare outcome mode').first().json;\nconst accountRows = $input.all().map((item) => item.json);\nconst accountOptions = accountRows\n  .filter((row) => row.account_id && row.account_name)\n  .map((row) => ({\n    value: String(row.account_id).trim(),\n    label: String(row.account_name).trim(),\n    description: row.provider ? String(row.provider).trim().slice(0, 100) : undefined\n  }));\n\nreturn [{\n  json: {\n    ...base,\n    account_options: accountOptions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10128,
        6976
      ],
      "id": "b3775259-203a-4581-bb23-0f35168232dd",
      "name": "Build finalize account catalog"
    },
    {
      "parameters": {
        "jsCode": "const transaction = $json.transaction ?? null;\n\nif (!transaction) {\n  return [{ json: { route: 'respond', status: 'invalid', message: 'Missing transaction payload before sheet write.' } }];\n}\n\nreturn [{ json: { transaction } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11232,
        6976
      ],
      "id": "97d86a4e-1036-4453-a685-607cbe04299c",
      "name": "Finalize transaction payload"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "transactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_id": "={{ $json.transaction.transaction_id }}",
            "date_time": "={{ $json.transaction.date_time }}",
            "account_id": "={{ $json.transaction.account_id }}",
            "amount": "={{ $json.transaction.amount }}",
            "category": "={{ $json.transaction.category }}",
            "type": "={{ $json.transaction.type }}",
            "provider_reference": "={{ $json.transaction.provider_reference }}",
            "receipt_id": "={{ $json.transaction.receipt_id }}",
            "note": "={{ $json.transaction.note }}"
          },
          "matchingColumns": [
            "transaction_id"
          ],
          "schema": [
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_time",
              "displayName": "date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "provider_reference",
              "displayName": "provider_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "receipt_id",
              "displayName": "receipt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        11536,
        6976
      ],
      "id": "b7cde6fa-b4a1-48c8-bdea-8e1142a3bf2c",
      "name": "Append transaction row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aiproxy.moreshared.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-6nsFYn2tmcijnY6Wx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-5.4\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Extract order details from this image. Return only data matching the provided schema. Convert values like '23.120đ' to integer VND values such as 23120. Use null for fields that are not clearly visible.\"\n        },\n        {\n          \"type\": \"input_image\",\n          \"image_url\": \"{{$json.body.receipt.url}}\"\n        }\n      ]\n    }\n  ],\n  \"text\": {\n    \"format\": {\n      \"type\": \"json_schema\",\n      \"name\": \"bach_hoa_xanh_order\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"merchant\": { \"type\": [\"string\", \"null\"] },\n          \"order_status\": { \"type\": [\"string\", \"null\"] },\n          \"order_id\": { \"type\": [\"string\", \"null\"] },\n          \"order_time\": { \"type\": [\"string\", \"null\"] },\n          \"items\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"name\": { \"type\": [\"string\", \"null\"] },\n                \"quantity\": { \"type\": [\"number\", \"null\"] },\n                \"price_vnd\": { \"type\": [\"number\", \"null\"] }\n              },\n              \"required\": [\"name\", \"quantity\", \"price_vnd\"]\n            }\n          },\n          \"payment\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"properties\": {\n              \"total_vnd\": { \"type\": [\"number\", \"null\"] }\n            },\n            \"required\": [\"total_vnd\"]\n          },\n          \"reward_points_vnd\": { \"type\": [\"number\", \"null\"] }\n        },\n        \"required\": [\n          \"merchant\",\n          \"order_status\",\n          \"order_id\",\n          \"order_time\",\n          \"items\",\n          \"payment\",\n          \"reward_points_vnd\"\n        ]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9456,
        5968
      ],
      "id": "1d447abc-e4b3-4d81-a9a6-fc537f63c51f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const extracted = JSON.parse($input.first().json.output[0].content[0].text);\nconst webhook = $(\"Webhook get receipt image\").first().json.body;\n\nconst pad = (value) => String(value).padStart(2, '0');\nconst formatDateTime = (value) => {\n  const raw = String(value ?? '').trim();\n\n  if (!raw) {\n    return null;\n  }\n\n  const alreadyFormatted = raw.match(/^(\\d{2})\/(\\d{2})\/(\\d{4}) (\\d{2}):(\\d{2})$/);\n  if (alreadyFormatted) {\n    return raw;\n  }\n\n  const receiptStyle = raw.match(/^(\\d{1,2}):(\\d{2}),\\s*(\\d{1,2})\/(\\d{1,2})\/(\\d{4})$/);\n  if (receiptStyle) {\n    const [, hour, minute, day, month, year] = receiptStyle;\n    return `${pad(day)}/${pad(month)}/${year} ${pad(hour)}:${minute}`;\n  }\n\n  const slashDate = raw.match(/^(\\d{1,2})\/(\\d{1,2})\/(\\d{4})(?:[ T](\\d{1,2}):(\\d{2}))?$/);\n  if (slashDate) {\n    const [, day, month, year, hour = '00', minute = '00'] = slashDate;\n    return `${pad(day)}/${pad(month)}/${year} ${pad(hour)}:${minute}`;\n  }\n\n  const isoDate = new Date(raw);\n  if (!Number.isNaN(isoDate.getTime())) {\n    const formatted = new Intl.DateTimeFormat('en-GB', {\n      timeZone: 'Asia/Saigon',\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    }).formatToParts(isoDate).reduce((acc, part) => {\n      if (part.type !== 'literal') acc[part.type] = part.value;\n      return acc;\n    }, {});\n\n    return `${formatted.day}/${formatted.month}/${formatted.year} ${formatted.hour}:${formatted.minute}`;\n  }\n\n  return raw;\n};\n\nconst submittedAt = formatDateTime(webhook.submittedAt ?? new Date().toISOString());\nconst orderTime = formatDateTime(extracted.order_time);\nconst receiptId = extracted.order_id ?? `receipt_${Date.now()}`;\nconst dedupeKey = [extracted.merchant ?? '', extracted.order_id ?? '', extracted.payment?.total_vnd ?? '', orderTime ?? ''].join('|');\n\nreturn [{\n  json: {\n    receipt_id: receiptId,\n    source_file_id: '',\n    merchant: extracted.merchant ?? null,\n    order_status: extracted.order_status ?? null,\n    order_time: orderTime,\n    total_vnd: extracted.payment?.total_vnd ?? null,\n    payment_method: '',\n    note: webhook.note ?? '',\n    created_at: submittedAt,\n    dedupe_key: dedupeKey,\n    items: Array.isArray(extracted.items) ? extracted.items : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9712,
        5968
      ],
      "id": "e6bdc248-29a9-4879-b53c-53312f8084dd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tinify.com/shrink",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {\n    \"url\": \"{{ $('Webhook get receipt image').first().json.body.receipt.url }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9968,
        5968
      ],
      "id": "d88a9bcc-6223-44bd-99b5-77407e1f56b5",
      "name": "Compress receipt image with Tinify",
      "credentials": {
        "httpBasicAuth": {
          "id": "1FaA5vWS4I1adAwR",
          "name": "Tinify api key credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10176,
        5968
      ],
      "id": "77333caf-fa37-43d1-97b6-16162cfc94cd",
      "name": "Download compressed receipt image"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName || `${$('Code in JavaScript').first().json.receipt_id}-compressed.jpg` }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1SFsQYltWBl3_kVYvukqZgG7Z7Q6C8GlB",
          "mode": "list",
          "cachedResultName": "receipt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SFsQYltWBl3_kVYvukqZgG7Z7Q6C8GlB"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        10432,
        5968
      ],
      "id": "0a76aaea-5dd0-4436-9f6c-7e97a5386ebf",
      "name": "Upload compressed receipt to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MV0TDxOz3N1aj4u7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Code in JavaScript').first().json;\nconst drive = $json;\n\nreturn [{\n  json: {\n    ...base,\n    source_file_id: drive.id ?? ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10640,
        5968
      ],
      "id": "f664e14b-ffda-4b94-b477-f0e57d45aeb6",
      "name": "Finalize receipt row"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215728577,
          "mode": "list",
          "cachedResultName": "receipt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit#gid=1215728577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "receipt_id": "={{ $json.receipt_id }}",
            "source_file_id": "={{ $json.source_file_id }}",
            "merchant": "={{ $json.merchant }}",
            "order_status": "={{ $json.order_status }}",
            "order_time": "={{ $json.order_time }}",
            "total_vnd": "={{ $json.total_vnd }}",
            "payment_method": "={{ $json.payment_method }}",
            "note": "={{ $json.note }}",
            "created_at": "={{ $json.created_at }}",
            "dedupe_key": "={{ $json.dedupe_key }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [
            {
              "id": "receipt_id",
              "displayName": "receipt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_file_id",
              "displayName": "source_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "merchant",
              "displayName": "merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_status",
              "displayName": "order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "order_time",
              "displayName": "order_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "total_vnd",
              "displayName": "total_vnd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        10848,
        5968
      ],
      "id": "39c4e753-b49e-41d8-a67b-99ba8a62c9a2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receipt = $input.first().json;\nconst items = Array.isArray(receipt.items) ? receipt.items : [];\n\nreturn items.map((item, index) => ({\n  json: {\n    item_id: `${receipt.receipt_id}:${index + 1}`,\n    receipt_id: receipt.receipt_id,\n    item_name: item?.name ?? null,\n    quantity: item?.quantity ?? null,\n    price_vnd: item?.price_vnd ?? null,\n    line_total_vnd: typeof item?.quantity === 'number' && typeof item?.price_vnd === 'number' ? item.quantity * item.price_vnd : null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11088,
        5968
      ],
      "id": "ca372a72-8469-4cce-acee-84b5f3a13288",
      "name": "Flatten receipt items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1085266604,
          "mode": "list",
          "cachedResultName": "receipt_items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit#gid=1085266604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "item_id": "={{ $json.item_id }}",
            "receipt_id": "={{ $json.receipt_id }}",
            "item_name": "={{ $json.item_name }}",
            "quantity": "={{ $json.quantity }}",
            "price_vnd": "={{ $json.price_vnd }}",
            "line_total_vnd": "={{ $json.line_total_vnd }}"
          },
          "matchingColumns": [
            "item_id"
          ],
          "schema": [
            {
              "id": "item_id",
              "displayName": "item_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "receipt_id",
              "displayName": "receipt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item_name",
              "displayName": "item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "price_vnd",
              "displayName": "price_vnd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "line_total_vnd",
              "displayName": "line_total_vnd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        11344,
        5968
      ],
      "id": "2f9fd023-4d84-41d2-8be0-f55457d125c5",
      "name": "Append or update receipt items row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error_code: $json.error_code || 'INVALID_REQUEST', message: $json.message || 'The webhook payload is invalid.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        9424,
        7408
      ],
      "id": "add25caa-2ad8-461b-a32c-0656418cc2e8",
      "name": "Respond invalid webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        11536,
        6736
      ],
      "id": "c54695bc-d011-4f13-909b-9dbcdbf9755a",
      "name": "Respond outcome webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'complete', transaction: $('Finalize transaction payload').first().json.transaction, warning: $json.warning || '' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        11808,
        6976
      ],
      "id": "f3841ac8-b626-4775-84e9-bc87e23ecc51",
      "name": "Respond outcome success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, receipt_id: $json.receipt_id, source_file_id: $json.source_file_id } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        11584,
        5968
      ],
      "id": "da361216-4e6b-4475-84e3-f90f844c711f",
      "name": "Respond receipt success"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0",
          "mode": "list",
          "cachedResultName": "finance_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVPIiIiLnk1D5weIcNnFSnFT_l-u51HBbvSgZcbqDa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "categories"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9920,
        6496
      ],
      "id": "ccdb96b5-cb00-4295-829e-7c8cddf65415",
      "name": "Read categories for outcome extract",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NwZ0rpVl0rdV0jkP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "id": "resp_086cab1742ee6bb70169d896a30bf081919c16e6cc2fbafebf",
          "object": "response",
          "created_at": 1775802019,
          "status": "completed",
          "background": false,
          "completed_at": 1775802026,
          "error": null,
          "frequency_penalty": 0,
          "incomplete_details": null,
          "instructions": null,
          "max_output_tokens": null,
          "max_tool_calls": null,
          "model": "gpt-5.4",
          "output": [
            {
              "id": "msg_086cab1742ee6bb70169d896a8854c81919e6672becd369c4d",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{\"merchant\":\"Bách hóa XANH\",\"order_status\":\"Giao thành công\",\"order_id\":\"OV105095604317177\",\"order_time\":\"16:47, 08/04/2026\",\"delivery_time\":\"16:47, 08/04/2026\",\"items\":[{\"name\":\"THỊT XAY C.P\",\"quantity\":0.17,\"price_vnd\":23120}],\"payment\":{\"total_vnd\":23120},\"reward_points_vnd\":231}"
                }
              ],
              "phase": "final_answer",
              "role": "assistant"
            }
          ],
          "parallel_tool_calls": true,
          "presence_penalty": 0,
          "previous_response_id": null,
          "prompt_cache_key": "e7c9dd6c-99df-4130-8a78-d6a5bbeaaaf1",
          "prompt_cache_retention": null,
          "reasoning": {
            "effort": "none",
            "summary": null
          },
          "safety_identifier": "user-d8AvGPekxf1C1ARxxoHiwjJp",
          "service_tier": "default",
          "store": false,
          "temperature": 1,
          "text": {
            "format": {
              "type": "json_schema",
              "description": null,
              "name": "bach_hoa_xanh_order",
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "merchant": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "order_status": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "order_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "order_time": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "delivery_time": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "quantity": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "price_vnd": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "quantity",
                        "price_vnd"
                      ]
                    }
                  },
                  "payment": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "total_vnd": {
                        "type": [
                          "number",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "total_vnd"
                    ]
                  },
                  "reward_points_vnd": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "merchant",
                  "order_status",
                  "order_id",
                  "order_time",
                  "delivery_time",
                  "items",
                  "payment",
                  "reward_points_vnd"
                ]
              },
              "strict": true
            },
            "verbosity": "medium"
          },
          "tool_choice": "auto",
          "tool_usage": {
            "image_gen": {
              "input_tokens": 0,
              "input_tokens_details": {
                "image_tokens": 0,
                "text_tokens": 0
              },
              "output_tokens": 0,
              "output_tokens_details": {
                "image_tokens": 0,
                "text_tokens": 0
              },
              "total_tokens": 0
            },
            "web_search": {
              "num_requests": 0
            }
          },
          "tools": [],
          "top_logprobs": 0,
          "top_p": 0.98,
          "truncation": "disabled",
          "usage": {
            "input_tokens": 2756,
            "input_tokens_details": {
              "cached_tokens": 0
            },
            "output_tokens": 128,
            "output_tokens_details": {
              "reasoning_tokens": 0
            },
            "total_tokens": 2884
          },
          "user": null,
          "metadata": {}
        }
      }
    ]
  },
  "connections": {
    "Webhook get receipt image": {
      "main": [
        [
          {
            "node": "Validate webhook payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate webhook payload": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare outcome mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond invalid webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compress receipt image with Tinify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress receipt image with Tinify": {
      "main": [
        [
          {
            "node": "Download compressed receipt image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download compressed receipt image": {
      "main": [
        [
          {
            "node": "Upload compressed receipt to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload compressed receipt to Drive": {
      "main": [
        [
          {
            "node": "Finalize receipt row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize receipt row": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Flatten receipt items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten receipt items": {
      "main": [
        [
          {
            "node": "Append or update receipt items row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update receipt items row": {
      "main": [
        [
          {
            "node": "Respond receipt success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare outcome mode": {
      "main": [
        [
          {
            "node": "Outcome mode switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outcome mode switch": {
      "main": [
        [
          {
            "node": "Read accounts for outcome extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read categories for outcome extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read accounts for outcome finalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond outcome webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read accounts for outcome extract": {
      "main": [
        [
          {
            "node": "Merge outcome catalogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read categories for outcome extract": {
      "main": [
        [
          {
            "node": "Merge outcome catalogs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge outcome catalogs": {
      "main": [
        [
          {
            "node": "Build outcome catalogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build outcome catalogs": {
      "main": [
        [
          {
            "node": "Extract outcome with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract outcome with AI": {
      "main": [
        [
          {
            "node": "Prepare extracted outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare extracted outcome": {
      "main": [
        [
          {
            "node": "Outcome result switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outcome result switch": {
      "main": [
        [
          {
            "node": "Finalize transaction payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond outcome webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read accounts for outcome finalize": {
      "main": [
        [
          {
            "node": "Build finalize account catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build finalize account catalog": {
      "main": [
        [
          {
            "node": "Finalize pending outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize pending outcome": {
      "main": [
        [
          {
            "node": "Finalize outcome switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize outcome switch": {
      "main": [
        [
          {
            "node": "Finalize transaction payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond outcome webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize transaction payload": {
      "main": [
        [
          {
            "node": "Append transaction row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append transaction row": {
      "main": [
        [
          {
            "node": "Respond outcome success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "18e65388-8249-4c5a-b0f2-e96794d4c5bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ece3ee2dfa1bf7ba55c96e1d4f222c23bf9f007e1f643705a900ecde69796ebf"
  },
  "id": "q4uJBhA3CvnynZYS",
  "tags": [
    {
      "updatedAt": "2026-04-11T10:31:31.300Z",
      "createdAt": "2026-04-11T10:31:31.300Z",
      "id": "RoSAt6cO0XPo6C9s",
      "name": "personal"
    }
  ]
}
